.flippable-widget {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  position: relative;
}

.flipper.disable-animation {
  -webkit-transition: 0s;
  -moz-transition: 0s;
}

.front {
  width: 100%;
  display: table-cell;

  width: 360px;  /*TODO not use hardcoded dimensions */
  height: 400px;
}

.rot90 {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.rot90.invert {
  -webkit-transform: rotateY(90deg) scaleX(-1);
  -moz-transform: rotateY(90deg) scaleX(-1);
  transform: rotateY(90deg) scaleX(-1);
}

.rot180 {
  -webkit-transform: rotateY(180deg) scaleX(-1);
  -moz-transform: rotateY(180deg) scaleX(-1);
  transform: rotateY(180deg) scaleX(-1);
}
