.widget-stock {
  background-color: #728e39;
  padding: 0px 0px;
}

.widget-stock .title {
  margin-bottom: 30px;
}

.widget-stock ol, ul {
  margin: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.widget-stock ol {
  list-style-position: inside;
}

.widget-stock li {
  margin-bottom: 6px;
  padding: 2px 2px 2px 7px;
}

.widget-stock .list-nostyle {
}

.widget-stock .items{
  list-style: none;
}

.widget-stock li {
  border-radius: 0px 0px 0px 0px;
  margin-top: 5px;
}

.widget-stock li .label {
  display: block;
  color: rgba(255, 255, 255, 1.0);
  word-wrap: break-word;
}

.widget-stock li .repo {
  float: left;
  text-align: left;
  padding: 5px 0px 5px 10px;
}

.widget-stock li .branch {
  float: left;
  text-align: left;
  padding-top: 10px;
  font-size: 14px;
  padding: 11px 0px 5px 5px;
}

.widget-stock li.failed {
  background-color: rgba(255, 255, 255, 0.35);
}

.widget-stock li.pending {
  background-color: rgba(255,255,255, 0.15);
}

.widget-stock li.passed {
  background-color: rgba(255,255,255, 0.15);
}
